<div class="header-container">
  <div class="header">
    <div class="header-logo">
      <a class="logo" routerLink="">
        <img alt="logo" src="assets/logo.svg">
      </a>
    </div>
    <div class="header-left">
      <a routerLink="music">
        Музыка
      </a>
      <a routerLink="movies">
        Фильмотека
      </a>
      <a href="https://github.com/HalvaPovidlo/halvabot.ru/discussions" target="_blank">
        Предложи фичу 🙃
      </a>
    </div>
    <div class="header-right">
      <p>{{(currentUser$ | async)?.username}}</p>
      <img routerLink="/login"
           src="{{(currentUser$ | async)?.avatar || 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDnpwS-gtCv6FrsXwTM4S_m-tsMCc5OEt5dwGVa9E&s'}}">
    </div>
  </div>
</div>
