<img alt="points" class="points" src="assets/points.svg">
<img alt="crosses" class="crosses" src="assets/crosses.svg">
<img alt="pattern" class="pattern" src="assets/pattern3.svg">
<div class="music">
  <div class="music-container">
    <div class="music-player">
      <div class="music-player-cover">
        <img alt="cover"
             src="{{currentStatus.current.artwork_url || 'https://cdn.7tv.app/emote/63d0ed73d1e524d27861d1d6/4x.gif'}}">
      </div>
      <div class="music-player-title">
        {{currentStatus.current.title}}
      </div>
      <div class="music-player-artist">
        {{currentStatus.current.artist_name}}
      </div>
      <div class="music-player-timer">
        <div [style.width]="currentStatus.position / currentStatus.length * 100 + '%'"
             class="music-player-timer-passed"></div>
        <div class="music-player-timer-time">
          <div class="left">
            {{currentStatus.position | minutes}}
          </div>
          <div class="right">
            {{currentStatus.length | minutes}}
          </div>
        </div>
      </div>
      <div class="music-player-buttons">
        <button class="left-button button" type="button">
          <img (click)="handleClick('radio')" alt="radio" src="assets/radio.svg">
        </button>
        <div class="central-buttons">
          <button class="central-button button loop" type="button">
            <img (click)="handleClick('loop')" alt="repeat" src="assets/repeat.svg">
          </button>
          <button class="central-button button skip" type="button">
            <img (click)="handleClick('skip')" alt="skip" src="assets/skip.svg">
          </button>
          <button class="central-button button queue" type="button">
            <img alt="queue" src="assets/queue.svg">
          </button>
        </div>
        <div class="imaginable-right-button">
        </div>
      </div>
    </div>
  </div>

  <div class="music-secondary-container">

    <!-- Tab links -->
    <div class="tab">
      <button class="tablinks active button" onclick="openCity(event, 'London')">
        <img src="assets/search.svg" alt="search"> Поиск </button>
      <button class="tablinks button" onclick="openCity(event, 'Paris')">
        <img src="assets/queue.svg" alt="search"> Плейлисты </button>
      <button class="tablinks button" onclick="openCity(event, 'Tokyo')">
        <img src="assets/queue2.svg" alt="search"> Очередь </button>
    </div>

    <div class="custom-select">
      <img src="assets/check.svg" alt="check" class="check">
      <div class="vk">
        <img src="assets/vk.svg" alt="vk">
      </div>
      <div class="music-playlist">
        <div class="music-playlist-search">
          <input (keydown.enter)="handleClick('play')" [formControl]="requestedSong">
        </div>
        <div *ngFor="let song of playlists" class="music-playlist-song">
          {{song}}
        </div>
      </div>
    </div>
  </div>
</div>
