.button {
  background: transparent;
  border: none;
}

.music {
  padding: 0 min(200px, 11vw);
  display: flex;
  justify-content: space-between;

  &-container {
    margin-top: 5.5vh;
    width: 49%;
    height: 75vh;

    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(0, 0, 0, 0.23);
    backdrop-filter: blur(10px);
  }

  &-secondary-container {
    margin-top: 5.5vh;
    width: 49%;
    height: 75vh;

    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(0, 0, 0, 0.23);
    backdrop-filter: blur(10px);
    .tab {
      display: flex;
      overflow: hidden;
      padding: min(30px, 1.6vw) min(40px, 2vw) 0;
      gap: 20px;

      & > button {
        display: flex;
        gap: 5px;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 7px 16px;
        transition: 0.3s;
        border-radius: 10px;

        color: rgba(255, 255, 255, 0.30);
        font-family: Manrope, serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        &:hover{
          background: rgba(255, 255, 255, 0.10);
        }

        &:active {
          color: #FFF;
        }

        & > img {
          fill: green;
          width: 24px;
          height: 24px;
        }
      }
    }

  .custom-select {
    display: flex;
    gap: 10px;
    padding: min(30px, 1.6vw) min(40px, 2vw);

    .vk {
      display: flex;
      height: 40px;
      width: 40px;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.10);
      align-content: center;
      justify-content: center;
      > img {
        width: 24px;
      }
    }
  }
  }

  &-player {
    margin: min(60px, 5vh) 0;
    display: flex;
    height: calc(70vh - min(60px, 5vh));
    flex-direction: column;

    &-cover {
      max-width: min(300px, 27.7vh);
      max-height: min(300px, 27.7vh);
      aspect-ratio: 1 / 1;
      margin: 0 auto;

      & img {
        border-radius: 50%;
        width: min(300px, 27.7vh);
        aspect-ratio: 1 / 1;
        display: block;
        overflow: hidden;
      }
    }

    &-title {
      color: #FFF;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-family: Manrope, serif;
      font-size: 1.3vw;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      width: min(440px, 22.9vw);
      text-align: center;
      margin: 32px auto 8px;
    }

    &-artist {
      color: #FFF;
      text-align: center;
      font-family: Manrope, serif;
      font-size: 1vw;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 32px;
    }

    &-timer {
      width: 71%;
      height: 7px;
      border-radius: 60px;
      background: #6B6B6B;
      margin: auto auto 50px;

      &-passed {
        width: 22%;
        height: 7px;
        border-radius: 60px;
        background: #FFF;
      }

      &-time {
        margin-top: 12px;

        & .left {
          display: inline-block;
          color: #FFF;
          font-family: Manrope, serif;
          font-size: 0.9vw;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }

        & .right {
          display: inline-block;
          float: right;
          color: #FFF;
          font-family: Manrope, serif;
          font-size: 0.9vw;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }

    &-buttons {
      display: flex;
      flex-grow: 1;
      align-content: center;
      width: 71%;
      height: auto;
      margin-top: auto;
      margin-left: auto;
      margin-right: auto;

      & .left-button {
        background: transparent;
        border: none;
        > img {
          width: min(40px, 2vw);
          height: min(40px, 2vw);
        }
      }

      & .central-buttons {
        display: flex;
        gap: 50px;
        align-content: center;
        margin: auto;


        & :first-child > img, :last-child > img {
          width: min(40px, 2vw);
          height: min(40px, 2vw);
        }

        & img {
          width: min(80px, 4vw);
          height: min(80px, 4vw);
          cursor: pointer;
        }
      }
    }
  }

  &-playlist {
    width: 70%;

    &-search {
      & > input {
        width: 100%;
        border: none;
        display: inline-flex;
        padding: 8px 15px 8px 20px;
        justify-content: flex-end;
        align-items: center;
        gap: 184px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.10);
        color: #FFF;
        leading-trim: both;
        text-edge: cap;
        font-family: Manrope, serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;;
      }
    }
  }
}

.points {
  position: absolute;
  left: 5.3%;
  top: min(870px, 90.5vh);
  z-index: -1;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.crosses {
  position: absolute;
  top: 9.5%;
  right: 29.2%;
  z-index: -1;
  width: 6vw;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.pattern {
  position: absolute;
  bottom: -100px;
  width: 98vw;
  overflow: hidden;
  z-index: 0;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
