<img alt="points" class="points" src="assets/points.svg">
<img alt="crosses" class="crosses" src="assets/crosses.svg">
<img alt="pattern" class="pattern" src="assets/pattern3.svg">
<div class="music">
  <div class="music-container">
    <div class="music-player">
      <div class="music-player-cover">
        <img alt="cover"
             src="{{currentStatus.current.artwork_url || 'https://cdn.7tv.app/emote/63d0ed73d1e524d27861d1d6/4x.gif'}}">
      </div>
      <div class="music-player-title">
        {{currentStatus.current.title}}
      </div>
      <div class="music-player-artist">
        {{currentStatus.current.artist_name}}
      </div>
      <div class="music-player-timer">
        <div [style.width]="currentStatus.position / currentStatus.length * 100 + '%'"
             class="music-player-timer-passed"></div>
        <div class="music-player-timer-time">
          <div class="left">
            {{currentStatus.position | minutes}}
          </div>
          <div class="right">
            {{currentStatus.length | minutes}}
          </div>
        </div>
      </div>
      <div class="music-player-buttons">
        <button class="option-button" type="button">
          <img alt="options-button" src="assets/options.svg">
        </button>
        <div class="central-buttons">
          <img alt="radio" src="assets/radio.svg">
          <img alt="play" src="assets/play.svg">
          <img alt="repeat" src="assets/repeat.svg">
        </div>
        <div class="imaginable-right-button">
        </div>
      </div>
    </div>
    <div class="music-playlist-container">
      <div class="music-playlist">
        <div class="music-playlist-title"> Плейлисты</div>
        <div class="music-playlist-search"></div>
        <div *ngFor="let song of playlists" class="music-playlist-song">
          {{song}}
        </div>
      </div>
    </div>
  </div>
</div>
