.movies {
  display: grid;
  z-index: 100;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  &-container {
    padding: 32px 200px;
  }
}

.secondary-header {
  margin-bottom: 40px;

  & a {
    font-family: 'Manrope', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.movie img {
  width: 200px;
  height: auto;
}

.carousel {
  overflow: hidden;
  width: 100%;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  transform: translateX(-20%);
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 20%;
  background-color: #292929;
  color: wheat;

  & img {
    height: 200px;
  }
}

.button-left {
  position: relative;
}

.button-right {

}
