<div class="movies-container">
  <div class="secondary-header">
    <a>Все</a>
    <a>Анимешки</a>
    <a>Сериалы</a>
    <a>Фильмы</a>
    <a>Треш</a>
    <a>Топы</a>
    <div class="search">
      <span class="form-group">
      <input class="form-control" id="search-text" aria-describedby="search-text"
             [(ngModel)]="searchText" placeholder="Поиск"
             autofocus
            (keydown)="onKeydown($event)"
      >
      </span>
      <div class="list-group list-group-flush" *ngIf="searchText != ''">
          <a class="list-group-item" routerLink="{{movie.id}}" *ngFor="let movie of movies$ | async | filter: searchText">
            <div>
              {{movie.title}}
            </div>
          </a>
      </div>
    </div>
  </div>
  <!--  <div class="carousel">-->
  <!--    <div class="button-left">-->
  <!--      <button (click)="decCurrentIndex()"> <</button>-->
  <!--    </div>-->
  <!--    <div class="button-right">-->
  <!--      <button (click)="incCurrentIndex()"> ></button>-->
  <!--    </div>-->
  <!--    <div-->
  <!--      [style.transform]="'translateX('+-20*currentIndex+'%)'"-->
  <!--      class="inner">-->
  <!--      &lt;!&ndash;      wtf&ndash;&gt;-->
  <!--      <div-->
  <!--        *ngFor="let anime of anime$ | async let i = index;"-->
  <!--        class="carousel-item"-->
  <!--      >-->
  <!--        <img alt="movie-{{anime.title}}" src="{{anime.cover}}">-->
  <!--      </div>-->
  <!--      <div class="carousel-item"> item 1</div>-->
  <!--      <div class="carousel-item"> item 2</div>-->
  <!--      <div class="carousel-item"> item 3</div>-->
  <!--      <div class="carousel-item"> item 4</div>-->
  <!--      <div class="carousel-item"> item 5</div>-->
  <!--      <div class="carousel-item"> item 6</div>-->
  <!--      <div class="carousel-item"> item 7</div>-->
  <!--      <div class="carousel-item"> item 8</div>-->
  <!--      <div class="carousel-item"> item 9</div>-->
  <!--      <div class="carousel-item"> item 10</div>-->
  <!--    </div>-->
  <!--  </div>-->
  <div class="movies">
    <div *ngFor="let movie of movies$ | async" class="movie">
      <a routerLink="{{movie.id}}">
        <img alt="movie-{{movie.title}}" src="{{movie.cover}}">
      </a>
    </div>
  </div>
</div>

<!--<app-modal id="modal-1" style="position: relative">-->
<!--  <h1>Добавить фильм</h1>-->
<!--  <form (ngSubmit)="handleSubmit()" [formGroup]="movieFormGroup">-->
<!--    <label for="kinopoisk">Ссылка на кинопоиск(или id этого фильма): </label>-->
<!--    <input formControlName="kinopoisk" id="kinopoisk" type="text">-->
<!--    <app-scores (scoreEvent)="setScore($event)" style="-->
<!--    display: flex;-->
<!--    align-items: center;-->
<!--    justify-content: center;-->
<!--    margin-top: 5%;">-->
<!--    </app-scores>-->
<!--    <button (click)="closeModal()" [disabled]="!movieFormGroup.valid"-->
<!--            style="-->
<!--            position: absolute;-->
<!--            bottom: 10%;-->
<!--            left: calc(50% - 5vw);-->
<!--            width: 10vw;-->
<!--            height: 7vh;-->
<!--            border-radius: 15px;-->
<!--            background: #202020;-->
<!--            display: flex;-->
<!--            color: #FFF;-->
<!--            text-align: center;-->
<!--            font-family: Manrope, serif;-->
<!--            font-style: normal;-->
<!--            font-weight: 700;-->
<!--            line-height: normal;-->
<!--            padding: 9px 17px 9px 16px;-->
<!--            justify-content: center;-->
<!--            align-items: center;-->
<!--            flex-shrink: 0;" type="submit">-->
<!--      Добавить-->
<!--    </button>-->
<!--  </form>-->
<!--</app-modal>-->
