.movies {
  display: grid;
  z-index: 100;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  &-container {
    padding: 32px 200px;
  }
}

.secondary-header {
  margin-bottom: 40px;

  & a {
    font-family: 'Manrope', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  .search {
    display: flex;
    float: right;
    flex-direction: column;

    .form-control {
      width: 200px;
      float: right;
      margin-right: 8px;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.10);
      padding: 8px 15px 8px 20px;

      font-family: Manrope, serif;
      color: #FFF;

      &::placeholder {
        color: rgba(255, 255, 255, 0.20);
        leading-trim: both;
        text-edge: cap;
        font-family: Manrope, serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .list-group {
      margin-top: 40px;
      position: absolute;
      width: 235px;
      border-radius: 10px;
      background: #3E3E3E;
      overflow: auto;
      max-height: 400px;
      :hover {
        background: #0e4bf1;
      }

      .list-group-item {
        color: #FFF;
        margin-right: 0!important;
        leading-trim: both;
        text-edge: cap;
        font-family: Manrope, serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        > div {
          padding: 10px 10px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }


}

.movie img {
  width: 200px;
  height: auto;
}

.carousel {
  overflow: hidden;
  width: 100%;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  transform: translateX(-20%);
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 20%;
  background-color: #292929;
  color: wheat;

  & img {
    height: 200px;
  }
}

.button-left {
  position: relative;
}
