@import "_themes";

@font-face {
  font-family: 'Manrope';
  src: url('assets/Manrope.ttf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background: var(--main-content-background-color) no-repeat fixed;
  //z-index: -2;
  position: relative;
  box-sizing: border-box;
}

input {
  all: unset;
}

.button {
  background: transparent;
  border: none;
}

.points {
  position: absolute;
  left: 5.3%;
  top: min(870px, 90.5vh);
  z-index: -1;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.crosses {
  position: absolute;
  top: 9.5%;
  right: 29.2%;
  z-index: -1;
  width: 6vw;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.pattern {
  position: absolute;
  bottom: -100px;
  width: 98vw;
  overflow: hidden;
  z-index: 0;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
