/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Manrope';
  src: url('assets/Manrope.ttf');
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background: linear-gradient(141.68deg, #302C49 14.75%, #292929 87.01%) no-repeat fixed;
  z-index: -2;
  position: relative;
  box-sizing: border-box;
  //background: #202020;
}
